<div class="element-filter">
  <div class="element-tag">
    <img class="element" src="https://genshin.honeyhunterworld.com/img/icons/element/pyro_35.png" alt="Pryo">
  </div>
  <div class="element-tag">
    <img class="element" src="https://genshin.honeyhunterworld.com/img/icons/element/hydro_35.png" alt="Hydro">
  </div>
  <div class="element-tag">
    <img class="element" src="https://genshin.honeyhunterworld.com/img/icons/element/electro_35.png" alt="Electro">
  </div>
  <div class="element-tag">
    <img class="element" src="https://genshin.honeyhunterworld.com/img/icons/element/anemo_35.png" alt="Anemo">
  </div>
  <div class="element-tag">
    <img class="element" src="https://genshin.honeyhunterworld.com/img/icons/element/cryo_35.png" alt="Cryo">
  </div>
  <div class="element-tag">
    <img class="element" src="https://genshin.honeyhunterworld.com/img/icons/element/geo_35.png" alt="Geo">
  </div>
</div>

<div class="rarity-filter">
  <div class="4-stars rarity-tag">
    4 <i class="fas fa-star"></i>
  </div>
  <div class="5-stars rarity-tag">
    5 <i class="fas fa-star"></i>
  </div>
</div>

<div class="character-cards">
  <% @characters.each do |character| %>
    <div class="character-card <%= character.element %> <%= character.rarity %>-stars">
      <%= link_to character_path(character.id) do %>
        <img src="<%= character.image %>" alt="<%= character.name %> image">
        <div class="lower-section">
          <div class="rarity">
            <% character.rarity.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <h4><b><%= character.name %></b></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
