<div class="filter">
  <div class="element-filter">
    <div class="element-tag">
      <img class="element" id="pyro" src="<%= asset_path("pyro.png") %>" alt="Pryo">
    </div>
    <div class="element-tag">
      <img class="element" id="hydro" src="<%= asset_path("hydro.png") %>" alt="Hydro">
    </div>
    <div class="element-tag">
      <img class="element" id="electro" src="<%= asset_path("electro.png") %>" alt="Electro">
    </div>
    <div class="element-tag">
      <img class="element" id="anemo" src="<%= asset_path("anemo.png") %>" alt="Anemo">
    </div>
    <div class="element-tag">
      <img class="element" id="cryo" src="<%= asset_path("cryo.png") %>" alt="Cryo">
    </div>
    <div class="element-tag">
      <img class="element" id="geo" src="<%= asset_path("geo.png") %>" alt="Geo">
    </div>
  </div>

  <div class="rarity-filter">
    <div class="4-stars rarity-tag">
      <b>4</b> <i class="fas fa-star"></i>
    </div>
    <div class="5-stars rarity-tag">
      <b>5</b> <i class="fas fa-star"></i>
    </div>
  </div>
</div>

<div class="character-cards">
  <% @characters.each do |character| %>
    <div class="character-card <%= character.element %> <%= character.rarity %>-stars">
      <%= link_to character_path(character.id) do %>
        <img src="<%= asset_path("#{character.name.downcase}.png") %>" alt="<%= character.name %> image">
        <div class="lower-section">
          <div class="rarity">
            <% character.rarity.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <h4><b><%= character.name %></b></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
