<div class="char">
  <div class="image">
    <img src="<%= asset_path("#{@character.image}") %>" alt="<%= @character.name %> image">
  </div>
  <div class="char-data">
    <div class="char-row name">
      <%= @character.name %>
    </div>
    <% if @character.name != "Traveler" %>
      <div class="char-row title">
        <%= @character.title %>
      </div>
    <% end %>
    <div class="char-row rarity">
      <% @character.rarity.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </div>
    <div class="char-row weapon">
      <%= @character.weapon %>
    </div>
    <div class="char-row element">
      <img src="<%= asset_path("#{@character.element}.png") %>" alt="Element image">
    </div>
    <div class="char-row birthday">
      <%= @character.birthday %>
    </div>
    <div class="char-row description">
      <%= @character.description %>
    </div>
  </div>
</div>
